  <Card>
          <NameProduct>{product.name}</NameProduct>
          <Img src={product.image} alt="imagem" />
          <Price>{product.desc}</Price>
          <Price>R$ {product.price}</Price>
        </Card>